* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 400px;
  height: 500px;
  background-color: white;
  font-family: sans-serif;
}
.heder-box {
  display: flex;
  justify-content: space-around;
  background: #5e17eb;
  align-items: center;
}
.heder-img img {
  width: 60px;
  padding: 5px;
}
.heder-text h1 {
  font-size: 30px;
  padding: 5px;
  color: white;
  font-weight: 700;
}
.al-tech {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}
.al-tech a {
  text-decoration: none;
  color: #7a7a7a;
}
.al-tech a:hover {
  color: #5e17eb;
}
.ip {
  font-size: 30px;
  padding: 5px 0px 5px 0px;
  align-content: center;
  display: flex;
  justify-content: center;
  color: black;
  background-color: #ebebeba7;
  margin-top: 1px;
}
.al-page {
  margin: 0px 20px 0px 20px;
  padding: 10px;
}
.al-page p {
  font-size: 20px;
}
.page {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.color-page {
  color: red;
}
.block{
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 10px;
}