* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 400px;
  height: 500px;
  background-color: #e6e6e6;
  font-family: sans-serif;
}
.heder-box {
  display: flex;
  justify-content: space-around;
  background: #5e17eb;
  align-items: center;
}
.heder-img img {
  width: 60px;
  padding: 5px;
}
.heder-text h1 {
  font-size: 30px;
  padding: 5px;
  color: #e6e6e6;
  font-weight: 700;
}
.tech {
  font-size: 20px;
}
.al-tech {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
  border-bottom: 1px solid rebeccapurple;
}
